:root {
    --ivh: 100vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arimo;
    height:auto;
    width:100vw;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
}

p {
    font-family: Arimo;
    font-size: calc(var(--ivh) * 0.013);
    width: fit-content;
    margin: 0 auto;
}

a{
    color: forestgreen;
}

.langButton {
    background-color: rgba(0,0,0,0.15);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    display: block;
    height: calc(var(--ivh) * 0.02);
    margin: 0 calc(var(--ivh) * 0.005);
    aspect-ratio: 1;
    border-radius: 6px;
    border: 2px solid #646464;
    cursor: pointer;
    user-select: none;
}

.main {
    position: relative;
    flex: 1;
    width: auto;
    background-color: rgb(231, 231, 231);
    color: black;
}

.main-cont {
    margin: 50px 5vw;
    animation: FadeIn 0s forwards;
    opacity: 0;
    animation-delay: 0s;
}

.banner{
    width: 100%;
    height: fit-content;
    background-color: white;
    position:relative;
    user-select:none;
    display:none;
    flex-shrink: 0;
}

.banner-content {
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.title-block {
    flex-grow: 0;
    margin: auto 0 auto 40px;
}

    .title-block h1 {
        margin: 0;
        font-size: calc(var(--ivh) * 0.03);
        font-weight: bold;
    }

    .title-block h4 {
        margin: 0;
        font-size: calc(var(--ivh) * 0.01);
        white-space: nowrap;
        font-weight: bold;
    }

    .title-block div {
        display:flex;
        flex-direction:row;
        align-content:center;
    }

.deer-container {
    margin: auto 40px auto auto;
    width: calc(var(--ivh) * 0.0865);
    overflow: hidden;
}

    .deer-container:hover {
        width: calc(var(--ivh) * 0.094);
    }

.deer {
    float: right;
    width: calc(var(--ivh) * 0.094);
    opacity: 0.4;
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Universal support since 2021   */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.banner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.6);
    display: flex;
    z-index: 3;
    pointer-events: none;
}

.tile-grid {
    position:absolute;
    left:0;
    top:0;
    display: grid;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.space-grid {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    pointer-events: none;
}

.space {
    background-color: black;
    aspect-ratio: 1 / 1;
    transform: rotateY(90deg);
    animation: SpaceFlip 0.5s forwards;
    animation-delay: calc(var(--i) * 1s + 0.5s);
    backface-visibility: hidden;
}

.tile {
    background-color: white;
    aspect-ratio: 1 / 1;
    animation: TileFlip 0.5s forwards;
    animation-delay: calc(var(--i) * 1s + 0.5s);
    backface-visibility: hidden;
    box-sizing: border-box;
    z-index: 3;
}

@keyframes TileFlip {
    0% {
        background-color:white;
    }
    49.9% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
        border: 0.5px solid #d2d2d265;
        z-index:0;
    }
}

@keyframes SpaceFlip {
    0% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(00deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
