body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arimo;
}

.banner{
    width: 100%;
    height: fit-content;
    background-color: white;
    position:relative;
}

.banner-content {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-block {
    flex-grow: 0;
    padding: 20px;
}

    .title-block h1 {
        margin: 0;
        font-size: 60px;
        font-weight: bold;
    }

    .title-block h4 {
        margin: 0;
        white-space: nowrap;
        font-weight: bold;
    }

.links-block {
    margin: 10px 60px auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    font-size:20px;
}

.links-block i {
    font-size: 25px;
}

.links-block a {
    transform: translateY(2px);
}

.links-block h5 {
    margin: 0;
    font-weight: normal;
}

.banner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.6);
    display: flex;
    z-index: 3;
}

.tile-grid {
    position:absolute;
    left:0;
    top:0;
    display: grid;
    width: 100%;
    overflow: hidden;
}

.space-grid {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    width: 100%;
    overflow: hidden;
    z-index:4;
}

.space {
    background-color: black;
    aspect-ratio: 1 / 1;
    transform: rotateY(90deg);
    animation: SpaceFlip 0.5s forwards;
    animation-delay: calc(var(--i) * 1s + 0s);
    backface-visibility: hidden;
}

.tile {
    background-color: white;
    aspect-ratio: 1 / 1;
    animation: TileFlip 0.5s forwards;
    animation-delay: calc(var(--i) * 1s + 0s);
    backface-visibility: hidden;
    box-sizing: border-box;
    z-index: 3;
}

@keyframes TileFlip {
    0% {
        background-color:white;
    }
    49.9% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
        border: 0.5px solid #d2d2d265;
        z-index:0;
    }
}

@keyframes SpaceFlip {
    0% {
        transform: rotateY(90deg);
        background: black;
    }

    50% {
        transform: rotateY(00deg);
        background: black;
    }

    100% {
        transform: rotateY(90deg);
        background: black;
    }
}
