body {
    margin:0;
}

.banner{
    width: 100%;
    height: fit-content;
    background:black;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 8em;
    font-weight: bold;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
}

.tile-grid {
    display: grid;
    width: 100%;
    overflow: hidden;
}

.tile {
    background-color: white; 
    aspect-ratio: 1 / 1;
    animation: flipIn 5.5s forwards;
    animation-delay: calc(var(--i) * 0.05s + 2.5s);
    backface-visibility: hidden;
}

.tile::after {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: 3;
}

.tile.flipped::after {
    background: transparent;
}

@keyframes flipIn {
    0% {
        transform: rotateY(0deg);
        background: white;
    }
    49.9% {
        background: white;
    }
    50% {
        transform: rotateY(90deg);
        background: #ececec;
    }
    100% {
        transform: rotateY(0deg);
        background: #ececec;
        border: solid 0.5px #dddddd;
    }
}